<h1 style="color: red;" id="accountpage">TRANG TAI KHOAN</h1>

<form action="" method="get">
    <label for="search">Search</label>
    <input type="search" name="search" id="search">
    <label for="option">Option</label>
    <input type="radio" name="content" id="vietnam">
    <label for="vietnam">Viet Nam</label>
    <input type="radio" name="content" id="usa">
    <label for="usa">My</label>
    <input type="submit" value="Search">
</form>