<h1>Trang tìm kiếm thông tin</h1>
<p><i>Bạn muốn tìm gì?</i></p>

<form method="POST" action="">
    <div class="mb-3">
        <label for="search-input" class="form-label">Tìm kiếm</label>
        <input type="search" name="q" class="form-control" id="search-input" aria-describedby="emailHelp">

        <label for="username" class="form-label">Username</label>
        <input type="text" name="author" id="username" class="form-control">
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>