@import "variables";



h1{
    color: $white-color !important;
    margin-top: 12px;
    background-color: $black-color;
    text-align: center;
    text-decoration: none;
}
h2{
    color: blue;
}
#accountpage{
    // text-align: center;
}